@use "breakpoints" as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 0px 20px 0px #bebebe;

    img {
        width: 130px;
        cursor: pointer;
    }

    .menu-btn {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        z-index: 2;

        &:hover > div {
            background-color: rgb(148, 148, 148);
        }

        div {
            width: 21px;
            height: 3px;
            border-radius: 20px;
            background-color: black;   
        
        }
    }

    #menu-toggle {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        width: 150px;
        right: 0;
        background: #e4e4e4;
        flex-direction: column;
        display: none;
        z-index: 1;
        padding: 20px 0px;
        padding-top: 50px;
        gap: 5px;

        a {
            text-align: center;
            cursor: pointer;
            color: black;
            width: 90%;
            border-top: 1px solid rgb(148, 148, 148);
            padding: 7px 0;

            &:hover {
                background-color: rgb(148, 148, 148, 0.5);
            }
        }
    }

    #menu-toggle:checked + .menu-btn + nav {
        display: flex;
    }

    @include breakpoint($bp-smv) {
        padding: 20px 40px;
        img {
            width: 150px;
        }

        nav {
            width: 200px;
            padding: 20px 10px;
            padding-top: 65px;
        }
    }

    @include breakpoint($bp-tb) {

        .menu-btn {
            display: none;
        }

        nav {
            margin: 0;
            padding: 0;
            position: relative;
            display: flex;
            flex-direction: row;
            background: none;
            width: auto;
            gap: 40px;
            a {
                width: auto;
                text-align: start;
                border-top: 0px;

                &:hover {
                    background-color: #FFFFFF;
                    color: rgba(54, 54, 54, 0.7);
                }
            }
        }
    }
}