@use "../breakpoints" as *;
@use "../variables.scss" as *;
.login-body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

.login {
    flex: 1;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;

            li {
                position: relative;
                display: flex;
                flex-direction: column;
                max-width: 100%;

                label {
                    color: grey;
                }

                input {
                    height: 25px;
                    font-size: 17px;
                    border: 1px solid grey;
                    
                    &:focus {
                        outline: none;              
                        border: 2px solid #5a5a5a;
                    }

                    &:valid:not(:placeholder-shown) {
                        border: 1px solid $green;
                    }
                
                    &:invalid:not(:placeholder-shown) {
                        border: 1px solid $invalid-color;
                        background-image: url("../icons/attention-sign.svg");
                        background-repeat: no-repeat;
                        background-position: right 10px center;
                        background-size: 18px;
                    }
                }

                &:has(input:invalid:not(:placeholder-shown))::after {
                    content: "Formato incorrecto";
                    position: absolute;
                    right: 0;
                    bottom: -18px;
                    font-size: 12px;
                    color: $invalid-color;
                }
            }
        }

        button {
            background-color: grey;
            padding: 8px 13px;
            color: white;
            border-radius: 5px;
            border: none;

            &:hover {
                background-color: rgba(128, 128, 128, 0.70);
            }
        }
    }

    @include breakpoint($bp-smv) {
        padding: 0 50px;
    }

    @include breakpoint($bp-bmv) {
        padding: 0 100px;
    }

    @include breakpoint($bp-tb) {
        form {
            width: 50%;
            background-color: rgb(235, 235, 235);
            padding: 30px;
            border-radius: 20px;
        }
    }

    @include breakpoint($bp-lp) {
        form {
            width: 30%;
        }
    }

    @include breakpoint($bp-bmon) {
        form {
            width: 20%;
        }
    }
}
}
