@use "../breakpoints" as *;

.course-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .course {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
        gap: 30px;
        padding: 0 20px;

        img {
            width: 100%;
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: 15px;
            h1 {
                font-size: 28px;
            }
            
            a {
                align-self: center;
                background-color: grey;
                padding: 8px 13px;
                color: white;
                border-radius: 5px;

                &:hover {
                    background-color: rgba(128, 128, 128, 0.70);
                }
            }
        }


    }

    @include breakpoint($bp-smv) { 

        .course {
            padding: 0 40px;
        }
    }

    @include breakpoint($bp-bmv) { 
    
        .course {
            padding: 0 70px;
        }
    }

    @include breakpoint($bp-tb) { 
        
        .course {
            padding: 0 40px;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            img {
                max-width: 45vw;
            }

            .description {
                max-width: 45vw;
                gap: 20px;
            }
        }
    }

    @include breakpoint($bp-lp) {
        .course {
            justify-content: space-around;

            .description {
                gap: 25px;
            }
        }
    }

    @include breakpoint($bp-bmon) {
        .course {
            padding: 0 50px;

            img {
                max-width: 47vw;
            }

            .description {
                max-width: 47vw;
            }
        }
    }
}