@use "../breakpoints" as *;

.blog-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .blog {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
        gap: 30px;
        padding: 0 20px;

        img {
            width: 100%;
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: 15px;
            h1 {
                font-size: 28px;
            }
            
            a {
                align-self: center;
                background-color: grey;
                padding: 8px 13px;
                color: white;
                border-radius: 5px;

                &:hover {
                    background-color: rgba(128, 128, 128, 0.70);
                }
            }
        }


    }

    @include breakpoint($bp-smv) { 

        .blog {
            padding: 0 40px;
        }
    }

    @include breakpoint($bp-bmv) { 
    
        .blog {
            padding: 0 70px;
        }
    }

    @include breakpoint($bp-tb) { 
        .blog {
            padding: 0 120px;
            gap: 40px;
        
            .description {
                gap: 20px;
            }
        }
    }

    @include breakpoint($bp-lp) {
        .blog {
            padding: 0 150px;
            .description {
                gap: 25px;
            }
        }
    }

    @include breakpoint($bp-bmon) {
        .blog {
            padding: 0 200px;
        }
    }
}