@use "../breakpoints" as *;

.blog-menu-body {
.blog-menu {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0 20px;
    
    h1 {
        margin-bottom: 30px;
    } 

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
            article {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                justify-content: space-between; 
                background-color: rgb(235, 235, 235);
                padding: 30px;
                border-radius: 10px;
                img {
                    width: 250px;
                }
                
                h2 {
                    font-size: 18px;
                }

                p {
                    font-size: 13px;
                }

                a {
                    background-color: grey;
                    padding: 8px 13px;
                    color: white;
                    border-radius: 5px;

                    &:hover {
                        background-color: rgba(128, 128, 128, 0.70);
                    }
                }
            }
        }
    }

    @include breakpoint($bp-smv) {
        article {
            padding: 35px 50px;
            border-radius: 10px;
            img {
                width: 300px;
            }
            
            h2 {
                font-size: 18px;
            }
        }
    }
}

    @include breakpoint($bp-bmv) { 

        min-height: 100vh;
        display: flex;
        flex-direction: column;
        
        .blog-menu {
            flex: 1;
            padding: 0px 50px;
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                justify-content: center;
                gap: 15px;
                li {
                    article {
                        padding: 25px 30px;
                        height: 400px;
                        img {
                            width: 210px;
                        }
                        
                        h2 {
                            font-size: 16px;
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    @include breakpoint($bp-tb) { 
        .blog-menu {
            width: 100%;
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 20px;
            }
        }
    }

    @include breakpoint($bp-lp) {
        .blog-menu {
            padding: 0px 60px;
            ul {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    } 

    @include breakpoint($bp-bmon) {
        .blog-menu {
            padding: 0px 100px;
            ul {
                li {
                    height: 360px;
                    img {
                        width: 280px;
                    }
                    
                    h3 {
                        text-align: center;
                        width: 300px;
                        font-size: 17px;
                    }

                    p {
                        width: 300px;
                    }
                }
            }
        }
    }
}
