@use "../breakpoints" as *;

.about {
    margin-top: 20px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        img {
            width: 100%;
            max-height: 500px;
        }
    }

    .team {
        margin-top: 40px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        h2 {
            text-align: center;
        }

        .teacher {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            figure {
                img {
                    width: 150px;
                    max-height: 200px;
                }
            }   
        }
    }

    @include breakpoint($bp-smv) {
        padding: 0px 25px;

        div {
            img {
                width: auto;
                max-width: 400px;
                max-height: 420px;
            }
        }

        .team {
            .teacher {
                p {
                    width: 300px;
                }
            }
        }
    }

    @include breakpoint($bp-bmv) {
        padding: 0px 30px;

        div {
            img {
                width: auto;
                max-width: 400px;
                max-height: 420px;
            }
        }

        .team {
            .teacher {
                p {
                    width: 300px;
                }
            }
        }
    }

    @include breakpoint($bp-tb) {
        padding: 0px 50px;
        text-align: start;

        div {
            img {
                width: auto;
                max-width: 400px;
                max-height: 200px;
            }
        }

        .about1 {
            flex-direction: row;
            align-items: center;
        }

        .about2 {
            flex-direction: row-reverse;
            align-items: center;
        }

        .team {
            width: 100%;
            .teacher-list {
                width: inherit;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                .teacher {
                    figure {
                        img {
                            width: 110px;
                            max-height: 150px;
                        }
                    }   

                    p {
                        width: 250px;
                    }
                }
            }
        }
    }

    @include breakpoint($bp-lp) {
        padding: 0px 250px;
    }

    @include breakpoint($bp-bmon) {
        padding: 0px 300px;
    }
}
